<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        Nome: <input type="text" name="txtnome" placeholder="Nome"></br>
        Email: <input type="email" name="txtemail" placeholder="Email"></br>
        Senha: <input type="password" name="txtsenha" placeholder="Senha"></br>
        Foto: <input type="file" name="txtfoto"></br>
        <input type="submit" name="adicionar">

    </form>
</body>
</html>